body{
    background-color: lightsalmon;
    background-image: url(shapes.svg);
    word-wrap: break-word;
}

#card1, #card2{
    background-color: lightcoral;
    box-shadow: 10px 10px darkslateblue;
}

#github{
    width: 17vh;
    background-color: darkslateblue;
    border-radius: 50%;
}

#link{
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:darkblue;
}

a:hover{
    color:darkslateblue;
    text-decoration:underline;
}

html, body{
    height: 100%;
}